<div data-di-form-track data-di-form-id="contents-consents" class="h-100">
  <div class="d-flex flex-column justify-content-between h-100">
    <div>
      <div
        class="heading--small mb-3"
        data-test="consents-title"
        data-cy="consents-title"
        [innerHtml]="'consents.consents.title'"
      ></div>
      <div
        class="text--medium mb-4"
        [innerHtml]="'consents.consents.subtitle'"
      ></div>

      <ng-container *ngIf="initDone$ | async; else loader">
        <div data-test="consents" data-cy="consents">
          <dyn-checkbox
            *ngIf="atLeastOneConsentCheckboxIsVisible()"
            id="selectAllConsents"
            data-test="selectAllConsents"
            checkBoxType="not-mandatory"
            data-cy="selectAllConsents"
            [params]="acceptAllParams"
            [value]="(acceptAllValue$ | async)!"
          >
            <dyn-label
              class="label body--medium"
              [innerHTML]="'consents.select_all_contents'"
            ></dyn-label>
          </dyn-checkbox>
        </div>
        <ng-container *ngFor="let consent of consentsToDisplay">
          <dyn-checkbox
            #consent_checkbox
            customClass="fieldset--label-top ml-4 mb-4"
            [id]="consent.consentId"
            [attr.data-test]="consent.consentId"
            [attr.data-cy]="consent.consentId"
            [params]="consent.params"
            [value]="(getConsentValue$(consent.consentId) | async)!"
          >
            <dyn-label
              class="label body--medium mb-0"
              [innerHTML]="consent.text"
            ></dyn-label>
          </dyn-checkbox>
        </ng-container>
      </ng-container>
      <ng-template #loader>
        <div [innerHTML]="'consents.loading'"></div>
      </ng-template>
    </div>
    <div class="text-center"></div>
  </div>
</div>
